<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Users</title>
</head>
<body>
    <div align="center">
      <h1>Add Users</h1>

     <form action="/allusers" method="post">
       <table border="1">
        <tbody>
          <tr>
            <td>Name :-</td>
            <td>
              <input type="text" name="name" placeholder="Enter Your Name..." id="">
            </td>
          </tr>
          <tr>
            <td>Email :-</td>
            <td>
              <input type="text" name="email" placeholder="Enter Your Email...">
            </td>
          </tr>
          <tr>
            <td>Password :-</td>
            <td>
              <input type="password" name="password" placeholder="Enter Your Password...">
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input type="submit">
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <a href="/">View Users</a>
     </form>
    </div>
</body>
</html>