</div>

    <!-- Jquery JS-->
    <script src="/js/vanilla-utils.js"></script>
    <!-- Bootstrap JS-->
    <script src="/vendor/bootstrap-5.3.8.bundle.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/vendor/perfect-scrollbar/perfect-scrollbar-1.5.6.min.js"></script>
    <script src="/vendor/chartjs/chart.umd.js-4.5.0.min.js"></script>

    <!-- Main JS-->
    <script src="/js/bootstrap5-init.js"></script>
    <script src="/js/main-vanilla.js"></script>
    <script src="/js/swiper-bundle-11.2.10.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/modern-plugins.js"></script>

</body>

</html>
<!-- end document-->
